body{
    width: 100%;
    height: 100%;
    background-color: darksalmon;
}

.main nav{
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
  
}
.m1 img{
    width: 250px;
    height: 200px;
    border: 10px solid white;
    border-radius: 15px;  
    position: relative;
    animation-name: example;
    animation-duration: 10s;

}

.m1{
    display: flex;
    justify-content:center;
}
.m2 {
    color: white;
    text-align: center;
}
.m2:hover{
    color:crimson;
    transition-delay: 0.5;
}
.m3 img{
    width: 200px;
    height: 200px;
}
.m3{
    color: white;
    position: relative;
    display: inline-block;
    margin: 2px;
}
.m4{
    position: absolute;
    display: flex;
    width: 200px;
    height: 50px;
    color: palevioletred;
    border: 5px solid;
    top: 200px;
    left: 0px;
    box-sizing: border-box;
    background-color: rgb(196, 9, 40);
    justify-content: space-evenly;
    align-items: center;
}
@keyframes example{
    0% {left: 0px; right:50px;}
    100% {left: 50px;right: 500px; }
}
h3{
    text-shadow: 2px 2px 5px blue;
}
.s1{
    width:100px;
    height: 50px;
    display: flex;
    justify-content: flex-end ;
    align-items:center;
    gap: 5px;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;

}
.s2{
    width: 20px;
    height: 20px;
}